* {
  box-sizing: border-box !important;
}

#deleteDialogue {
  padding: 1rem 0 !important;
  font-size: 1.25rem;
  height: 3rem !important;
}

.flex-container-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.App {
  width: 100%;
}

.editor {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1rem;
  min-height: 50vh;
}

.toolbar {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.post {
  margin: 0.5rem 0;
}

/* .rdw-image-alignment img {
  width: 100%;
  object-fit: contain;
  max-height: 30rem;
} */

.preview {
  width: 100%;
  margin-top: 4rem !important;
  padding: 2rem !important;
}

.preview-title {
  margin-bottom: 1rem;
}

.preview img {
  object-fit: cover;
  object-position: top;
  max-height: 30rem;
  width: 100%;
  display: block;
  padding: 0;
  margin: 2rem auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.preview blockquote {
  border-left: 3px solid rgb(101, 107, 114);
  margin: 3rem 0;
  letter-spacing: 2px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.preview h1 {
  letter-spacing: 2px;
}

.postbar img {
  height: 20rem;
  object-position: left top;
}

.postbar-content {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
}

.postbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.cover {
  padding: 1rem;
}

.cover-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cover-header {
  padding: 1rem;
  font-size: 2rem;
}

#coverImage {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.input-text {
  padding: 1rem 0.25rem;
  font-size: 1.2rem;
  width: 100%;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin: 1.25rem 0;
  border-radius: 5px;
  padding-left: 1rem;
}

.cover-image-label {
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  font-weight: bold;
}

.image-upload-container {
  margin: 1rem 0;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 5px;
}

.input-error {
  padding: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: red;
}

input::placeholder {
  letter-spacing: 1px;
  color: #222;
  font-size: 1rem;
}

/* Home Contaier */

.container {
  width: 75.5%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

/* Post Preview Card Styles */

.post-thumbnail-title::first-letter {
  font-size: 2rem;
  font-weight: bolder;
}

.post-thumbnail-container {
  width: 100%;
  grid-column: span 8;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.post-thumbnail-title {
  padding: 1rem 1rem 2rem 1rem;
  font-size: 1.25rem;
  margin: 0;
  border-radius: 0 0 10px 10px;
}

.post-thumbnail-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  height: 20rem;
  object-position: top;
}

/* incomplete changes here, width changed see the effects */

.cover-container {
  grid-column: 1 / -1;
  border-radius: 1rem;
}

.cover-title {
  font-size: 1.5rem;
  padding-left: 1rem;
  border-radius: 0 0 1rem 1rem;
}

.cover-image {
  display: block;
  width: 100%;
  height: 75vh;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem 1rem 0 0;
}

.cover-title::first-letter {
  font-size: 3.5rem;
}

.card-container {
  margin-top: 3rem;
  grid-column: 1 / -1;
  display: grid;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-template-columns: repeat(24, 1fr);
  column-gap: 3.5rem;
  row-gap: 5rem;
}

/* incomplete changes here, width changed see the effects */

.cover-page-container {
  margin-top: 7.5rem;
  grid-column: 1 / -1;
  display: grid;
  padding-top: 2rem;
  grid-template-columns: repeat(24, 1fr);
}

.sidebar-container {
  display: flex;
  grid-column: span 6;
  flex-direction: column;
  flex-wrap: wrap;
}

.cover-container:hover,
.post-thumbnail-container:hover {
  transition: all 0.15s ease-in-out;
  transform: scale(1.005);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Admin Dashboard Styles */

.admin-dashboard-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  row-gap: 2rem;
}

.post-list-container {
  grid-column: 4 / -1;
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 1.5rem;
}

.post-list-item-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
}
.post-list-item-image {
  width: 100%;
  object-fit: 100%;
  height: 16rem;
  border-radius: 5px;
  object-fit: cover;
  object-position: top;
}

.post-list-item-title {
  padding: 1rem;
}

.post-list-item-toolbar {
  position: absolute;
  bottom: -2rem;
  left: 0;
}

.admin-dashboard-sidebar {
  grid-column: 2 / 3;
  padding: 2.5rem 1rem;
  text-align: center;
  align-items: top;
  display: flex;
  flex-direction: column;
}

/* Post Styles ( need to have one version for preview pane else clash)*/

.post-container {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.post-title {
  margin: 9rem 0 0 0; /* sticky navbar margin*/
  grid-column: 1 / -1;
  padding: 2rem;
  font-size: 3rem;
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-left: 5px solid black;
}

.post-cover-image {
  margin: 0;
  display: block;
  grid-column: 1 / -1;
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
  object-position: top;
  border-radius: 5px 5px 0 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.post-author {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.35rem;
  text-align: center;
  grid-column: 1 / -1;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;

  color: rgba(34, 34, 34, 0.493);
}

.post-content {
  margin: 0;
  margin-bottom: 2rem;
  padding: 2rem 2rem;
  border-radius: 0 0 5px 5px;
  grid-column: 1 / -1;

  background-color: rgb(251, 251, 251);
}

.post-footer {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 1rem;
  grid-column: 1 / -1;
}
.post-content > p {
  padding: 0;
  margin: 0;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

.post-content > h1 > span {
  font-size: 3rem;
}

.post-content > h2 > span {
  font-size: 2.5rem;
}

.post-content > h3 > span {
  font-size: 2.25rem;
}

.post-content > h4 > span {
  font-size: 2rem;
}

.post-content > h5 > span {
  font-size: 1.75rem;
}

.post-content > p > span {
  font-size: 1.75rem;
}

.post-content > p > em {
  font-size: 1.75rem;
}

.post-content > ul,
.post-content > ol {
  margin: 0.75rem 0.75rem;
  padding: 0.5rem 0;
  font-size: 1.75rem;
  list-style-position: inside;
  list-style-type: circle;
}

.post-content > ul li,
.post-content > ol li {
  margin: 0.25rem 0;
}

.post-content > blockquote {
  margin: 0;
  border-radius: 5px;
  padding: 1.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.post-content > blockquote > span {
  font-size: 1.75rem;
}

.post-content > p > em {
  font-size: 1rem;
  text-align: center;
}

.post-content > p > a {
  font-weight: bold;
  text-decoration: none;
}

.post-content > img {
  display: block;
  margin: 2rem 0;
  object-fit: contain;
  max-height: 40rem;
  object-position: top;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.post-content > div > img {
  margin: 2rem 0;
  width: 100% !important;
  object-fit: contain;
  max-height: 40rem;
  object-position: top;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

/* About Page Styles */

.about-container {
  margin: 0;
  padding: 1rem 1rem;
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 1rem;
  margin-top: 8rem; /* sticky navbar margin*/
  min-height: 80vh;
}

.about-image {
  margin: 0;
  padding: 0;
  border-radius: 16px;
  display: block;
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  object-position: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.about-name {
  padding: 2rem;
  margin: 0;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 0.5rem;
}

.about-bio {
  margin: 0;
  padding: 2.5rem;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 2.15rem;
  border-radius: 1rem;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background: linear-gradient(to right, #5651a2, #dec619);
  margin: 1.75rem 0;
}
.about-player {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  width: 20rem;
  padding: 0 2rem;
}

.about-slider {
  width: 40% !important;
  margin: 0 auto !important;
}
.about-footer {
  margin-top: auto;
}
.about-social {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

.back-button-about {
  visibility: hidden;
  position: absolute;
  top: 1rem;
  z-index: 20;
  left: 50%;
  transform: translate(-50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  padding: 0.25rem;
  font-size: 2.5rem !important;
}

.svg-icon {
  font-size: 2.5rem !important;
}

.svg-icon:hover {
  transform: scale(0.95);
  transition: all 0.2 ease-in;
}

/* Bio Editor  */

.bio-editor-container {
  display: grid;
  row-gap: 1rem;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
}

.bio-editor-container > textarea {
  resize: none;
  height: 10rem;
}

/* Navbar */

.navbar {
  position: fixed;
  z-index: 100;
  width: calc(75.5% + 10px);
  left: 50%;
  transform: translateX(-50%);

  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 2rem 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 7rem;

  border-radius: 0 0 1.7rem 1.7rem;
  background-color: white;
  cursor: pointer;
}

.footer {
  grid-column: 1 / -1;
  margin-top: 2rem;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 2rem 0;
  align-items: center;
  display: flex;
  color: #2a222a;
  justify-content: center;
  height: 4.5rem;
  text-align: center;
  border-radius: 3rem 3rem 0 0;
}

.footer-logo {
  width: 100%;
  height: 2rem;
  font-weight: bolder;
}

.navbar-icon {
  display: inline-block;
  color: #223c30;
  font-size: 3.5rem !important;
  border: 3px solid rgb(255 255 255 / 85%);
  border-radius: 16px;
  height: 3.5rem !important;
  width: 3.5rem !important;
  padding: 0.25rem;
  margin: 0 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@media screen and (min-width: 1601px) and (max-width: 1800px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post-thumbnail-container {
    width: 30%;
  }
}

@media screen and (min-width: 1485px) and (max-width: 1600px) {
  .navbar,
  .footer,
  .cover-page-container,
  .card-container {
    grid-column: 1 / -1;
  }

  .cover-container {
    grid-column: 1 / -1;
  }

  .post-thumbnail-container {
    width: 30%;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .no-post-icon {
    width: 100%;
    max-height: 20rem;
    object-fit: scale-down;
  }
}

@media screen and (min-width: 1019px) and (max-width: 1484px) {
  .navbar,
  .footer,
  .cover-page-container,
  .card-container {
    grid-column: 1 / -1;
  }

  .cover-container {
    grid-column: 1 / -1;
  }

  .post-thumbnail-container {
    width: 45%;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post-footer {
    justify-content: center;
  }

  .no-post-icon {
    width: 100%;
    max-height: 20rem;
    object-fit: scale-down;
  }
}

@media screen and (max-width: 1018px) {
  .post-thumbnail-container {
    grid-column: 1 / -1;
  }

  .card-container {
    column-gap: 0;
  }

  .cover-image {
    height: 20rem;
  }

  .card-container {
    margin-top: 2rem;
    padding: 0;
    grid-column: 2 / -2;
    row-gap: 2rem;
    column-gap: 0;
  }
  .cover-page-container {
    margin-top: 4.5rem;
    grid-column: 2 / -2;
    gap: 0;
    row-gap: 2rem;
  }

  .sidebar-container {
    grid-column: 1 / -1;
  }

  .cover-container {
    width: 100%;
    grid-column: 1 / -1;
  }
  .cover-title {
    font-size: 1.25rem;

    padding: 1rem 1rem 2rem 1rem;
  }

  .cover-title::first-letter {
    font-size: 2rem;
  }

  /* Post Styles */

  .post-title {
    padding: 1rem;
    grid-column: 2 / -2;
    font-size: 1.25rem;
    border-radius: 1rem;
    margin-top: 5rem; /* sticky navbar margin*/
    text-transform: uppercase;
    box-shadow: none;
    text-align: center;
    border: none;
  }

  .post-divider {
    grid-column: 1 / -1;
    border: 0;
    width: 92%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

  .post-author {
    margin: 0;
    grid-column: 1 / -1;
    font-size: 0.75rem !important;
    color: rgba(34, 34, 34, 0.493);
  }

  .post-cover-image {
    margin-top: 1.5rem;
    grid-column: 2 / -2;
    height: 24rem;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .post-content {
    grid-column: 1 / -1;
    padding: 2rem 1.5rem;
  }

  .post-content > p {
    font-size: 1.35rem;
  }

  .post-content > img {
    margin: 0.5rem 0;
    max-height: 24rem;
  }

  .post-content > div > img {
    margin: 0.5rem 0;
    max-height: 24rem;
  }

  /* Defaults for various editor elements */

  .post-content > h1 > span {
    font-size: 1.65rem;
  }

  .post-content > h2 > span {
    font-size: 1.55rem;
  }

  .post-content > h3 > span {
    font-size: 1.45rem;
  }

  .post-content > h4 > span {
    font-size: 1.35rem;
  }

  .post-content > h5 > span {
    font-size: 1.35rem;
  }

  .post-content > p > span {
    font-size: 1.15rem;
  }

  .post-content > p > em {
    font-size: 1.35rem;
  }

  .post-content > ul,
  .post-content > ol {
    font-size: 1.35rem;
  }

  .post-content > blockquote > span {
    font-size: 1.35rem !important;
  }

  .post-footer {
    grid-column: 1 / -1;

    justify-content: center;
  }

  .container {
    width: 100%;
  }

  .navbar {
    width: 100%;
    grid-column: 1 / -1;
    padding: 1rem 0.85rem;
    height: 5rem;
    left: 0;
    transform: none;
  }

  .navbar-icon {
    font-size: 1.5rem !important;
    height: 2.5rem !important;
    width: 2.5rem !important;
  }

  .footer {
    grid-column: 1 / -1;
  }

  .no-post-icon {
    width: 100%;

    max-height: 20rem;
    object-fit: scale-down;
  }

  .about-container {
    margin-top: 5.85rem;
    min-height: 100vh;
  }

  .about-image {
    margin: 0;
    padding: 0;
    border-radius: 16px;
    display: block;
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    object-position: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  }

  .about-name {
    padding: 1.5rem 1rem;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 0.5rem;
  }

  .about-bio {
    margin: 0;
    padding: 1.5rem;
    font-size: 1.35rem;
    font-weight: bold;
    line-height: 1.85rem;
    border-radius: 1rem;
    width: 90%;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background: linear-gradient(to right, #5651a2, #dec619);
    margin-bottom: 1rem;
  }
  .about-footer {
    margin-top: auto;
  }
  .about-social {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
  }

  .about-slider {
    width: 85% !important;
    margin: 0 auto !important;
  }

  .about-player {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    width: 100%;
    padding: 0 2rem;
  }
}
